<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page Template</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="vendedor">
      <h1>Bem-vindo ao meu site!</h1>
      <p>Informe o que precisa e entrarei em contato!</p>
      <button id="show-form-btn">Quero Entrar em Contato</button>
    </div>
    <div id="formulario" class="form-section hidden">
      <h2>Preecha seus dados</h2>
      <p>Irei entrar em contato por e-mail</p>
      <form action="/submit" method="post">
        <input type="text" name="nome" placeholder="Seu Nome" required />
        <input type="text" name="email" placeholder="Seu E-mail" required />
        <textarea
          name="motivo"
          placeholder="Descreva brevemente o motivo do seu contato (máx. 1500 caracteres)"
          maxlength="1500"
          required
        ></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
