<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page Template</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <header class="hero">
      <h1>Bem-vindo ao meu site!</h1>
      <p>Informe o que precisa e entrarei em contato!</p>
      <button id="show-form-btn" class="btn">Quero Entrar em Contato</button>
    </header>

    <main class="container">
      <section id="formulario" class="card hidden">
        <div class="text-center">
          <h2>Preencha seus dados</h2>
          <p>Irei entrar em contato por e-mail</p>
        </div>
        <form action="/submit" method="post">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Seu Nome" required />
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Seu E-mail" required />
          </div>
          <div class="form-group">
            <label for="motivo">Motivo do contato</label>
            <textarea
              id="motivo"
              name="motivo"
              class="form-control"
              placeholder="Descreva brevemente o motivo do seu contato (máx. 1500 caracteres)"
              maxlength="1500"
              required
            ></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Enviar</button>
          </div>
        </form>
      </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
