<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Interessados</title>
  </head>
  <body>
    <h1>Interessados Registrados</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Motivo do Contato</th>
      </tr>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.motivo }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
